.TracklistContainer {
  height: 50vh;
  overflow-y: auto;
  padding-right: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.TracklistContainer::-webkit-scrollbar {
  display: none;
}

.TrackContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .TracklistContainer {
    padding-right: 0;
  }
}
