.HeroContainer {
    min-height: 100vh;
  }
  
  .hero-background {
    padding: 40px 0;
    color: white;
    background-attachment: fixed;
    background-position: top center; 
  } 
  
  h1 {
    margin-bottom: 20px;
  }
  
  h5 {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .form-control, .btn {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .hero-background {
      padding: 20px 0;
    }
  }
