.PlaylistContainer {
  max-height: 55vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.PlaylistHeader {
  margin-bottom: 1rem;
  color: white;
}

.PlaylistSongs {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 15px; /* Add padding to the right to prevent horizontal scrolling */
}

.PlaylistSongs::-webkit-scrollbar {
  display: none;
}

.PlaylistSongs .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.PlaylistSongs .card:hover { 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.PlaylistSongs .card-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.PlaylistSongs .card-text {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .PlaylistSongs {
    padding-left: 0;
  }

  .PlaylistSongs .card-img {
    width: 60px;
    height: 60px;
  }

  .PlaylistSongs .card-title {
    font-size: 0.9rem;
  }

  .PlaylistSongs .card-text {
    font-size: 0.8rem;
  }
}
