.PlaylistContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.PlaylistHeader {
  margin-bottom: 1rem;
  color: white;
}

.PlaylistSongs {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 15px;
}

.PlaylistSongs::-webkit-scrollbar {
  display: none;
}

.PlaylistSongs .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.PlaylistSongs .card-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.PlaylistSongs .card-text {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .PlaylistSongs {
    padding-left: 0;
  }

  .PlaylistSongs .card-img {
    width: 60px;
    height: 60px;
  }

  .PlaylistSongs .card-title {
    font-size: 0.9rem;
  }

  .PlaylistSongs .card-text {
    font-size: 0.8rem;
  }
}
